---
layout: default
---

<h1 class="header-title center">{{ page.title }}</h1>
<div class="projects">
{% for category in page.display_categories %}
  <p id="{{ category }}" href=".#{{ category }}">
    <h3 class="category">{{ category }}</h3>
  </p>
  {% assign categorized_projects = site.projects | where: "category", category %}
  {% assign sorted_projects = categorized_projects | sort: "importance" %}
  {% for project in sorted_projects %}
  <article role="article">
    <h4>&bull;<a href="{{ site.baseurl }}{{ project.url }}">
      {{ project.title }}
    </a><span>- {{ project.summary }}</span></h4>
    <!-- <p>{{ project.summary }}</p>
      <time class="date" datetime="{{ project.date | date_to_xmlschema }}">{{ project.year}}</time> -->
  </article>
  {% endfor %}
{% endfor %}
</div>